*{
    margin: 0;
    padding: 0;  
}
main {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}
#menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.block-product {
    color: darkblue;
}
.block-menu{
   color: black;
}
.item-menu {
    padding: 3px;
    cursor: pointer;
}
.contextMenu {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contextMenu {
    display: none;
}
