* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
main {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}
#menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.block-product {
  color: darkblue;
  cursor: pointer;
}
.block-menu {
  color: black;
}
.item-menu {
  padding: 3px;
  cursor: pointer;
}
.contextMenuCeter {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  background: white;
}
.contextMenu,
.contextMenuDelete {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #00000040;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}
